<div class="app">
  @for (row of rows; let index = $index; track index) {
    <app-row
      [showActions]="rows[index].showActions"
      [showChild]="rows[index].showChild"
      [isSelected]="rows[index].isSelected"
    >
      <div class="row__cells" cells>
        <div>
          <input type="checkbox" [checked]="rows[index].isSelected" (click)="toggleIsSelected(index)" />
        </div>
        <div>
          <button (click)="toggleShowChild(index)">Detalhes</button>
        </div>
        <div>
          <p class="row__cell__text--xl">2019</p>
          <p class="row__cell__text--xxl">ANU</p>
        </div>
        <div>
          <div class="row__cell__tag--md">
            <p class="row__cell__text--xl">NÃO PAGO</p>
          </div>
        </div>
        <div>
          <p class="row__cell__text--xl">30/03/2019</p>
          <p class="row__cell__text--md">Vencimento</p>
        </div>
        <div>
          <p class="row__cell__text--xl">Não parcelado</p>
          <p class="row__cell__text--md">Parcelamento</p>
        </div>
        <div>
          <div class="row__cell__tag--sm">
            <p class="row__cell__text--md">ADMINISTRATIVA</p>
          </div>
          <p class="row__cell__text--md">Dívida ativa</p>
        </div>
        <div>
          <p class="row__cell__text--sm">Atualização com 2% Multa + 1% Juros</p>
          <p class="row__cell__text--md">Procedimento atraso</p>
        </div>
        <div>
          <p class="row__cell__text--xxl">423,68</p>
          <p class="row__cell__text--md">Atualizado</p>
        </div>
        <div>
          <button (click)="toggleShowDropdown(index)" [attr.data-row-index]="index">Ações</button>
        </div>
      </div>
      <div class="row__actions" actions>
        <p>Histórico</p>
        <div class="row__actions__buttons">
          <button class="row__actions__button">Situações do débito</button>
          <button class="row__actions__button">Pagamentos</button>
          <button class="row__actions__button">Protesto</button>
        </div>
      </div>
      <div class="row__child" child>
        <div>
          <p class="row__child__value">423,68</p>
          <p class="row__child__title">Original</p>
        </div>
        <div>
          <p class="row__child__value">423,68</p>
          <p class="row__child__title">Devido do principal</p>
        </div>
        <div>
          <p class="row__child__value">00,00</p>
          <p class="row__child__title">Total pago efetivo</p>
        </div>
        <div>
          <p class="row__child__value">00,00</p>
          <p class="row__child__title">Amort. Principal</p>
        </div>
        <div>
          <p class="row__child__value">00,00</p>
          <p class="row__child__title">Amort. Margem</p>
        </div>
        <div>
          <p class="row__child__value">00,00</p>
          <p class="row__child__title">At. Monetária</p>
        </div>
        <div>
          <p class="row__child__value">00,00</p>
          <p class="row__child__title">Multa</p>
        </div>
        <div>
          <p class="row__child__value">00,00</p>
          <p class="row__child__title">Juros</p>
        </div>
        <div>
          <p class="row__child__value">423,68</p>
          <p class="row__child__title">Desc. Pgto Antecipado</p>
        </div>
        <div>
          <p class="row__child__value">423,68</p>
          <p class="row__child__title">Valor atualizado</p>
        </div>
      </div>
    </app-row>
    <br />
  }
</div>
