.row {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.row__content {
  width: 100%;
  border: 1px solid black;
  box-sizing: border-box;
}

.row--selected {
  position: relative;
  left: -5px;
  width: calc(100% + 10px);
}

.row__child {
  display: block;
  height: 0;
  overflow: hidden;
}

.row__actions {
  display: none;
  position: absolute;
  width: max-content;
  top: 0;
  right: 0;
  z-index: 1;
  background: white;
  padding: 12px;
  border: 1px solid black;
  border-top: 0;
  border-radius: 0 0 6px 6px;
}
